* {
    font-family: 'Roboto', sans-serif;
}

.padding {
    position: relative;
}

nav {
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
    background-color: #212121;
}

.menu {
    padding: 13px 70px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted white;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    height: 84px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 50px;
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_offisial {
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.subheader .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to top, #90b529 0%, #90b529 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('../img/by_car.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
}

.promo .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-align: center;
    margin-top: 22px;
}

.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 111px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to top, #90b529 0%, #90b529 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reasons {
    min-height: 764px;
}

.reasons .advantage_container {
    width: 112px;
    height: 24px;
    background-color: #90b529;
    margin: 0 auto;
    margin-top: 71px;
}

.reasons .label {
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 11px 6px 12px;
}

.reasons .title {
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.reasons .reasons_item {
    height: 141px;
    margin-top: 50px;   
} 

.reasons .reasons_items {
    min-height: 141px;
    margin-top: 50px; 
    margin-left: 102px;  
}   

.reasons .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #90b529;
    border-radius: 100%;
    margin: 10px 26px 18px 0;
}

.reasons .reasons_block {
    width: 341px;
    min-height: 141px;
    margin-top: 40px;
}

.reasons .reasons_text {
    color: #90b529;
    font-size: 17px;
    font-weight: 700;
}

.reasons .reasons_descr {
    font-size: normal;
    font-weight: 300;
}
